.tabela_produtos table{
    width: 100%;
}

.tabela_produtos th{
    background-color: darkcyan;
}

.tabela_produtos .Par{
    background-color: #ddd;
}

.tabela_produtos .Impar{
    background-color: #ccc;
}
